﻿@page "/teacher/tasks/add"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject NavigationManager navigationManager
@inject ITaskService taskService
@inject IStudentService studentService
@inject IMatToaster toaster

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Add task:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="newTask" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Task content:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatTextField @bind-Value="@newTask.TaskContent" Label="Task content" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5>
                        Student's list:
                    </h5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@(e =>{ addStudentDialogIsOpen = true; })" Style="width:100%; outline: none;" Raised="true">Add student</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @foreach (var student in studentsList)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText>
                                    @student.Name
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    @student.Login
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    @foreach (var student in studentsList)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatIconButton Icon="delete" Style="outline:none; color:#1E6B94;" OnClick="()=>DeleteClicked(student)"></MatIconButton>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@AddNewTask" Style="width:100%; outline:none;" Raised="true">Add class</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelAdding" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<MatDialog @bind-IsOpen="@addStudentDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        Student's login:
        <MatTextField @bind-Value="@studentToAdd" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ AddStudent(); addStudentDialogIsOpen = false; })">Add</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ studentToAdd = null; addStudentDialogIsOpen = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    TaskObj newTask = new TaskObj();

    List<Student> studentsList = new List<Student>();

    bool addStudentDialogIsOpen = false;

    string studentToAdd = null;

    protected override void OnInitialized()
    {
        toaster.Configuration.Position = MatToastPosition.BottomCenter;
    }


    private async void AddNewTask()
    {
        newTask.GivenDate = DateTime.Now;

        foreach(var student in studentsList)
        {
            try
            {
                newTask.StudentLogin = student.Login;

                var message = await taskService.AddClass(newTask);

                toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
                {
                    config.HideTransitionDuration = 200;
                    config.RequireInteraction = true;
                    config.ShowCloseButton = false;
                });
            }
            catch(Exception ex)
            {
                toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
                {
                    config.HideTransitionDuration = 200;
                    config.RequireInteraction = true;
                    config.ShowCloseButton = false;
                });
            }
        }

        navigationManager.NavigateTo("/teacher/tasks");

    }

    private void CancelAdding()
    {
        navigationManager.NavigateTo("/teacher/tasks");
    }

    private async void AddStudent()
    {
        if (studentToAdd != null)
        {
            try
            {
                var newStudent = await studentService.GetStudentByLogin(studentToAdd);
                bool isAlreadyPresent = false;

                foreach (var student in studentsList)
                {
                    if (student.Login == newStudent.Login)
                    {
                        isAlreadyPresent = true;
                        break;
                    }
                }
                if (isAlreadyPresent == false)
                {
                    studentsList.Add(newStudent);
                }
                studentToAdd = null;
            }
            catch (Exception ex)
            {
                //make toast
            }
        }
    }

    private void DeleteClicked(Student item)
    {
        studentsList.Remove(item);
    }
}
