﻿@page "/teacher/tasks"
@page "/teacher/tasks/{notificationType}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject ITaskService taskService
@inject NavigationManager navigationManager
@inject IMatToaster toaster


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Tasks</h1>
    </div>
    <div class="my-4">

        <MatTable Items="tasks.Tasks" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:115px">
                        Given date
                    </div>
                </th>
                <th>
                    <div style="width:160px">
                        Student
                    </div>
                </th>
                <th>
                    <div style="width:250px">
                        Content
                    </div>
                </th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="done"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="edit"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="delete"></MatIconButton>
                    </td>
                }
                else
                {
                    <td>@context.GivenDate.ToString("dd-MM-yyyy")</td>
                    <td>@context.StudentName</td>
                    <td>@context.TaskContent</td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Style="outline:none;" OnClick="()=> { EvaluateClicked(context); }" Icon="done"></MatIconButton>
                        <MatIconButton Style="outline:none;" OnClick="()=> { EditClicked(context); }" Icon="edit"></MatIconButton>
                        <MatIconButton Style="outline:none;" OnClick="()=> { DeleteClicked(context); }" Icon="delete"></MatIconButton>
                    </td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="@deleteDialogIsOpen">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        Are you sure about deleting this classes?
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToDelete = 0; deleteDialogIsOpen = false; })">No</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ DeleteTask(); deleteDialogIsOpen = false; })">Yes</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@evaluateDialogIsOpen">
    <MatDialogTitle>Realize class</MatDialogTitle>
    <MatDialogContent>
        Enter note:
        <MatTextField @bind-Value="@note" Label="Note" Icon="edit"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToEvaluate = 0; evaluateDialogIsOpen = false; })">Cancel</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ evaluateDialogIsOpen = false; EvaluateTask(); })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@editDialogIsOpen">
    <MatDialogTitle>Edit class</MatDialogTitle>
    <MatDialogContent>
        <br />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <label style="vertical-align:middle">Task content: </label>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatTextField @bind-Value="@itemToEdit.TaskContent" Label="Enter duration time:" Outlined="true" Class="m-0" Style="width:100%;"></MatTextField>
                </div>
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; })">Cancel</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; EditTask(); })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    [Parameter]
    public string notificationType { get; set; }

    TasksList tasks = new TasksList();

    bool showBlankRow = false;
    bool evaluateDialogIsOpen = false;
    bool deleteDialogIsOpen = false;
    bool editDialogIsOpen = false;

    TaskObj itemToEdit = new TaskObj();

    int note = 0;
    int idToEvaluate = 0;
    int idToDelete = 0;


    protected async override Task OnInitializedAsync()
    {
        tasks = await taskService.GetUnrealizedTasks();

        if (tasks.Tasks.Count == 0)
        {
            showBlankRow = true;
            tasks.Tasks.Add(new TaskObj());
        }

        if (notificationType == "delete")
        {
            toaster.Add("Task deleted successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        else if (notificationType == "edit")
        {
            toaster.Add("Task edited successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        else if (notificationType == "realize")
        {
            toaster.Add("Task evluated successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }

    }

    private void EditClicked(TaskObj item)
    {
        itemToEdit = item;
        editDialogIsOpen = true;
    }

    private void EditTask()
    {
        taskService.EditTaskContent(itemToEdit);

        navigationManager.NavigateTo("/teacher/tasks/edit", forceLoad: true);
    }

    private void DeleteClicked(TaskObj item)
    {
        idToDelete = item.Id;
        deleteDialogIsOpen = true;
    }

    private void DeleteTask()
    {
        taskService.DeleteTask(idToDelete);
        idToDelete = 0;
        navigationManager.NavigateTo("/teacher/tasks/delete", forceLoad: true);
    }

    private void EvaluateClicked(TaskObj item)
    {
        idToEvaluate = item.Id;
        evaluateDialogIsOpen = true;
    }

    private void EvaluateTask()
    {
        taskService.EvaluateTask(new TaskObj
        {
            Id = idToEvaluate,
            Note = note
        });
        note = 0;
        idToEvaluate = 0;
        navigationManager.NavigateTo("/teacher/tasks/evaluate", forceLoad: true);
    }


}
