﻿@inherits LayoutComponentBase
@using GuitarTeacherClient.Helpers
@inject AuthenticationStateProvider authenticationStateProvider 
@inject NavigationManager navigationManager

<MatThemeProvider Theme="@theme">

    <div style="
        background-color: #569BC0;
        width: 20%;
        height: auto;">
        <NavMenu />
    </div>

    <div class="main" style="background-color: #FFF;">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <MatIconButton OnClick="GoToSettings" Style="color:#1E6B94" Icon="settings"></MatIconButton>
                    <MatIconButton OnClick="Logout" Style="color:#1E6B94" Icon="arrow_forward"></MatIconButton>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <div class="footer">
            <span class="pl-5"> Copyright &copy; 2020 GuitarTeacher</span>
            <span class="pr-5"> Private policy &nbsp; &nbsp; Contact</span>
        </div>
    </div>

</MatThemeProvider>
<MatToastContainer />



@code{

    MatTheme theme = new MatTheme()
    {
        Primary = "#1E6B94",
        Secondary = "#B1D9EE"
    };

    void Logout()
    {
        ((CustomAuthenticationStateProvider)authenticationStateProvider).MarkUserAsLogout();
        navigationManager.NavigateTo("login");
    }

    void GoToSettings()
    {
        navigationManager.NavigateTo("/settings");
    }
}