﻿@using Microsoft.AspNetCore.Components
@using MatBlazor
@using Blazored.SessionStorage

@inject ISessionStorageService sessionStorageService

<MatNavMenu Style="
    color: #FFF;"
            Multi=false>

    <div class="top-row pl-4 navbar navbar-dark" style="background-color: #377EA4">
        <div style="background-color: #377EA4">
            <div class="text-center align-content-center">
                <h3 class="mb-0">GuitarTeacher</h3>
            </div>
        </div>

    </div>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="person"></MatIcon>&nbsp; Individual classes</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem Href="/student/individualClasses"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My classes</MatNavItem>
                <MatNavItem Href="/student/individualClasses/history"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;History</MatNavItem>

            }
            else if (userRole == "TEA")
            {
                <MatNavItem Href="/teacher/individualClasses"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My classes</MatNavItem>
                <MatNavItem Href="/teacher/individualClasses/add"><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Add class</MatNavItem>
                <MatNavItem Href="/teacher/individualClasses/history"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;History</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="group"></MatIcon>&nbsp; Group Classes</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem Href="/student/groupClasses"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My classes</MatNavItem>
                <MatNavItem Href="/student/groupClasses/history"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;History</MatNavItem>

            }
            else if (userRole == "TEA")
            {
                <MatNavItem Href="/teacher/GroupClasses"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My classes</MatNavItem>
                <MatNavItem Href="/teacher/addGroupClass"><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Add class</MatNavItem>
                <MatNavItem Href="/teacher/groupClasses/history"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;History</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="library_music"></MatIcon>&nbsp; Tabs</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;Przeglądaj tabulatury</MatNavItem>
            }
            else if (userRole == "TEA")
            {
                <MatNavItem><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;Przeglądaj tabulatury</MatNavItem>
                <MatNavItem><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Dodaj tabulaturę</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="music_note"></MatIcon>&nbsp; Chords</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem Href="/student/chords"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My chords</MatNavItem>
                <MatNavItem Href="/student/publicChords"><MatIcon Icon="public"></MatIcon>&nbsp;&nbsp;Public chords</MatNavItem> 
            }
            else if (userRole == "TEA")
            {
                <MatNavItem Href="/teacher/chords"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My chords</MatNavItem>
                <MatNavItem Href="/teacher/publicChords"><MatIcon Icon="public"></MatIcon>&nbsp;&nbsp;Public chords</MatNavItem>
                <MatNavItem Href="/teacher/chords/add"><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Add chord</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="assignment"></MatIcon>&nbsp; Tasks</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem Href="/student/tasks"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My tasks</MatNavItem>
                <MatNavItem Href="/student/tasks/evaluated"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;Evaluated tasks</MatNavItem>
            }
            else if (userRole == "TEA")
            {
                <MatNavItem Href="/teacher/tasks"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My tasks</MatNavItem>
                <MatNavItem Href="/teacher/tasks/add"><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Add task</MatNavItem>
                <MatNavItem Href="/teacher/tasks/evaluated"><MatIcon Icon="history"></MatIcon>&nbsp;&nbsp;Evaluated tasks</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="grade"></MatIcon>&nbsp; Evaluations</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            @if (userRole == "STU")
            {
                <MatNavItem Href="/student/evaluations"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My evaluations</MatNavItem>
            }
            else if (userRole == "TEA")
            {
                <MatNavItem Href="/teacher/evaluations"><MatIcon Icon="library_books"></MatIcon>&nbsp;&nbsp;My evaluations</MatNavItem>
                <MatNavItem Href="/teacher/evaluations/add"><MatIcon Icon="library_add"></MatIcon>&nbsp;&nbsp;Add evaluations</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavSubMenu>
</MatNavMenu>


@code
{
    string userRole = "";

    protected override async Task OnInitializedAsync()
    {
        userRole = await sessionStorageService.GetItemAsync<string>("rolecode");
    }
}


