﻿@page "/student/publicChords"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IChordService chordService
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>


<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Chords</h1>
    </div>
    <div class="my-4">
        <MatTable Items="chords.Chords" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:125px">
                        Upload date
                    </div>
                </th>
                <th>
                    <div style="width:250px">
                        Name
                    </div>
                </th>
                <th>
                    <div style="width:75px">
                        Chord
                    </div>
                </th>
                <th>
                    <div style="width:150px">
                        Author
                    </div>
                </th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.UploadDate.ToString("dd-MM-yyyy")</td>
                <td>@context.Name</td>
                <td style="color: #1E6B94;">
                    <MatIconButton Style="outline:none;" OnClick="()=> { ShowImageClicked(context); }" Icon="image"></MatIconButton>
                </td>
                <td>@context.TeacherName</td>
                <td style="color: #1E6B94; padding: 6px;">
                    <MatIconButton Style="outline:none;" OnClick="()=> { DownloadImage(context); }" Icon="cloud_download"></MatIconButton>
                </td>
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="@chordPictureDialogIsOpen">
    <MatDialogTitle>Chord image</MatDialogTitle>
    <MatDialogContent>
        <img src="@picturePath" />
    </MatDialogContent>
</MatDialog>


@code {

    ChordsList chords = new ChordsList();

    bool chordPictureDialogIsOpen = false;

    string picturePath = "images/blank.png";

    protected async override Task OnInitializedAsync()
    {
        chords = await chordService.GetPublicChords();
    }

    void ShowImageClicked(Chord chordToShow)
    {
        string base64String = Convert.ToBase64String(chordToShow.ChordImage, 0, chordToShow.ChordImage.Length);

        picturePath = "data:image/png;base64," + base64String;

        chordPictureDialogIsOpen = true;
    }

    async void DownloadImage(Chord chordToDownload)
    {
        string base64String = Convert.ToBase64String(chordToDownload.ChordImage, 0, chordToDownload.ChordImage.Length);

        picturePath = "data:image/png;base64," + base64String;

        await jsRuntime.InvokeVoidAsync(identifier: "DownloadChord", chordToDownload.Name, "data:image/png;base64," + base64String);
    }

}
