﻿@page "/teacher/addGroupClass"

@using GuitarTeacherClient.Data;
@using GuitarTeacherClient.ServicesCore

@inject IGroupClassService classService
@inject IStudentService studentService
@inject NavigationManager navigationManager
@inject IMatToaster toaster



<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Add group class:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="newClass" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Date of class:</label>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (isCyclicClass)
                    {
                        <label class="m-0">Since: </label>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatDatePicker Enable24hours="true" EnableTime="true" Label="Choose date:" Outlined="true" @bind-Value="@newClass.DateOfClass" Style="width:100%"></MatDatePicker>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (isCyclicClass)
                    {
                        <MatDatePicker Label="Choose date" Outlined="true" TValue="DateTime" @bind-Value="@finalDate" Style="width:100%"></MatDatePicker>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-1">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <div style="display:flex">
                        <MatCheckbox @bind-Value="@isCyclicClass" Id="cyclic-checkbox"></MatCheckbox>
                        <label for="cyclic-checkbox" style="margin:auto; ">Plan cyclic classes</label>
                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Duration:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@newClass.DurationString" Label="Duration" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5>
                        Student's list:
                    </h5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@(e =>{ addStudentDialogIsOpen = true; })" Style="width:100%; outline: none;" Raised="true">Add student</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @foreach (var student in newClass.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText>
                                    @student.Name
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    @student.Login
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    @foreach (var student in newClass.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatIconButton Icon="delete" Style="outline:none; color:#1E6B94;" OnClick="()=>DeleteClicked(student)"></MatIconButton>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@AddClass" Style="width:100%; outline:none;" Raised="true">Add class</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelAdding" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<MatDialog @bind-IsOpen="@addStudentDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        Student's login:
        <MatTextField @bind-Value="@studentToAdd" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ AddStudent(); addStudentDialogIsOpen = false; })">Add</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ studentToAdd = null; addStudentDialogIsOpen = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    bool isCyclicClass = false;
    DateTime finalDate = new DateTime();

    GroupClass newClass = new GroupClass();

    bool addStudentDialogIsOpen = false;
    string studentToAdd = null;

    protected override void OnInitialized()
    {
        toaster.Configuration.Position = MatToastPosition.BottomCenter;

        base.OnInitialized();
    }

    private async void AddClass()
    {
        try
        {
            newClass.DateOfClass = newClass.DateOfClass.ToLocalTime();
            var message = await classService.AddClasses(newClass);

            if (isCyclicClass)
            {
                var datesDifference = (finalDate - newClass.DateOfClass).TotalDays.ToString();
                var dividedString = datesDifference.Split(new Char[] { ',' });
                int parsedDifference = int.Parse(dividedString[0]) + 1;
                int howManyCycles = parsedDifference / 7;

                for (int i = 0; i < howManyCycles; i++)
                {
                    newClass.DateOfClass = newClass.DateOfClass.AddDays(7);
                    await classService.AddClasses(newClass);
                }

                toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
                {
                    config.HideTransitionDuration = 200;
                    config.RequireInteraction = true;
                    config.ShowCloseButton = false;
                });
            }
            else
            {
                //make toasr with message
            }
            navigationManager.NavigateTo("/teacher/GroupClasses");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            //make toast with exception
        }

    }

    private async void AddStudent()
    {
        if (studentToAdd != null)
        {
            try
            {
                var newStudent = await studentService.GetStudentByLogin(studentToAdd);
                bool isAlreadyPresent = false;

                foreach (var student in newClass.Students)
                {
                    if (student.Login == newStudent.Login)
                    {
                        isAlreadyPresent = true;
                        break;
                    }
                }
                if (isAlreadyPresent == false)
                {
                    newClass.Students.Add(newStudent);
                }
                studentToAdd = null;
            }
            catch (Exception ex)
            {
                //make toast
            }
        }
    }

    private void DeleteClicked(Student item)
    {
        newClass.Students.Remove(item);
    }

    private void CancelAdding()
    {
        navigationManager.NavigateTo("/teacher/GroupClasses");
    }

}
