﻿@page "/teacher/editGroupClass/{classId}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IGroupClassService classService 
@inject IStudentService studentService
@inject NavigationManager navigationManager
@inject IMatToaster toaster

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Edit group class:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="classToEdit" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5 class="m-0">Date of class:</h5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5 class="m-0">Duration:</h5>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatDatePicker Enable24hours="true" EnableTime="true" Label="Choose date:" Outlined="true" @bind-Value="@classToEdit.DateOfClass" Style="width:100%"></MatDatePicker>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@classToEdit.DurationString" Label="Duration" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <ValidationMessage For="@(()=>classToEdit.DurationString)" />
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5>
                        Student's list:
                    </h5>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@(e =>{ addStudentDialogIsOpen = true; })" Style="width:100%; outline: none;" Raised="true">Add student</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @foreach (var student in classToEdit.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText>
                                    @student.Name
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    @student.Login
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    @foreach (var student in classToEdit.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatIconButton Icon="delete" Style="outline:none; color:#1E6B94;" OnClick="()=>DeleteClicked(student)"></MatIconButton>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@EditClass" Style="width:100%; outline:none;" Raised="true">Edit class</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelEditing" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<MatDialog @bind-IsOpen="@addStudentDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        Student's login:
        <MatTextField @bind-Value="@studentToAdd" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ AddStudent(); addStudentDialogIsOpen = false; })">Add</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ studentToAdd = null; addStudentDialogIsOpen = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    [Parameter]
    public string classId { get; set; }

    GroupClass classToEdit = new GroupClass();
    int idToEdit;

    bool addStudentDialogIsOpen = false;
    string studentToAdd = null;

    protected async override Task OnInitializedAsync()
    {
        idToEdit = int.Parse(classId);
        classToEdit = await classService.GetClass(idToEdit);
        classToEdit.DurationString = classToEdit.Duration.ToString();
        toaster.Configuration.Position = MatToastPosition.BottomCenter;
    }

    private async void EditClass()
    {
        try
        {
            var message = await classService.EditClass(classToEdit);

            toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });

            navigationManager.NavigateTo("/teacher/GroupClasses");


        }
        catch (Exception ex)
        {
            toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }

    }

    private async void AddStudent()
    {
        if (studentToAdd != null)
        {
            try
            {
                var newStudent = await studentService.GetStudentByLogin(studentToAdd);
                bool isAlreadyPresent = false;

                foreach(var student in classToEdit.Students)
                {
                    if (student.Login == newStudent.Login)
                    {
                        isAlreadyPresent = true;
                        break;
                    }
                }
                if (isAlreadyPresent == false)
                {
                    classToEdit.Students.Add(newStudent);
                }
                studentToAdd = null;
            }
            catch (Exception ex)
            {
                //make toast
            }
        }
    }

    private void DeleteClicked(Student item)
    {
        classToEdit.Students.Remove(item);
    }

    private void CancelEditing()
    {
        navigationManager.NavigateTo("/teacher/GroupClasses");
    }

}
