﻿@page "/teacher/groupClass/editAttendences/{classId}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject NavigationManager navigationManager
@inject IGroupClassService groupClassService

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Edit attendences:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="classToEdit" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5 class="m-0">Date of class:</h5>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatDatePicker ReadOnly="true" Enable24hours="true" EnableTime="true" Label="Choose date:" Outlined="true" @bind-Value="@classToEdit.DateOfClass" Style="width:100%"></MatDatePicker>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5>
                        Student's list:
                    </h5>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @foreach (var student in classToEdit.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText>
                                    @student.Name
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    @student.Login
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    @foreach (var student in classToEdit.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatCheckbox @bind-Value="@student.IsPresent"></MatCheckbox>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@Edit" Style="width:100%; outline:none;" Raised="true">Edit class</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelEditing" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>

    </div>

</div>


@code {

    [Parameter]
    public string classId { get; set; }

    int idToEdit;

    GroupClass classToEdit = new GroupClass();

    protected async override Task OnInitializedAsync()
    {
        idToEdit = int.Parse(classId);

        classToEdit = await groupClassService.GetClass(idToEdit);

    }

    void CancelEditing()
    {
        navigationManager.NavigateTo("teacher/GroupClasses/history");
    }

    void Edit()
    {
        var attendence = new Attendence();

        attendence.GroupClassId = idToEdit;

        foreach (var student in classToEdit.Students)
        {
            if (student.IsPresent)
            {
                attendence.PresentStudentsIds.Add(student.Id);
            }
            else
            {
                attendence.AbsentStudentsIds.Add(student.Id);
            }
        }

        try
        {
            var message = groupClassService.EditAttendeces(attendence);
        }
        catch (Exception ex)
        {
            //makeToast
        }

    }
}
