﻿@page "/teacher/GroupClasses"
@page "/teacher/GroupClasses/{notificationType}"


@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IGroupClassService classService
@inject NavigationManager navigationManager
@inject IMatToaster toaster


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .no-margin-or-padding {
        padding: 0px;
        margin: 0px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Group classes:</h1>
    </div>
    <div class="my-4">

        <MatTable SortBy="DateOfClasses" Items="classesList.GroupClasses" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:200px">
                        Date of class
                    </div>
                </th>
                <th>
                    <div style="width:75px">
                        Duration
                    </div>
                </th>
                <th>
                    <div style="width:250px">
                        Group
                    </div>
                </th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="done" OnClick="()=>RealizeClicked(context)"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="edit" OnClick="()=>EditClicked(context)"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="delete" OnClick="()=>DeleteClicked(context)"></MatIconButton>
                    </td>
                }
                else
                {
                    <td>@context.DateOfClass.ToString("dd-MM-yyyy   HH:mm")</td>
                    <td>@context.Duration min</td>
                    <td style="display: flex; align-items: center; justify-content:center">
                        Number of students: @context.Students.Count
                        <MatIconButton Style="outline:none; color:#1E6B94;" Icon="format_list_bulleted" OnClick="()=> { itemToViewStudents = context; viewStudentsDialogIsOpen = true; }"></MatIconButton>
                    </td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Style="outline:none;" Icon="done" OnClick="()=>RealizeClicked(context)"></MatIconButton>
                        <MatIconButton Style="outline:none;" Icon="edit" OnClick="()=>EditClicked(context)"></MatIconButton>
                        <MatIconButton Style="outline:none;" Icon="delete" OnClick="()=>DeleteClicked(context)"></MatIconButton>
                    </td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="viewStudentsDialogIsOpen">
    <MatDialogTitle>
        Group
    </MatDialogTitle>
    <MatDialogContent>
        <MatList>
            @foreach (var student in itemToViewStudents.Students)
            {
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>
                            @student.Name
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText>
                            @student.Login
                        </MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
            }
            <br />
        </MatList>
    </MatDialogContent>
</MatDialog>

<MatDialog @bind-IsOpen="@deleteDialogIsOpen">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        Are you sure about deleting this classes?
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToDelete = 0; deleteDialogIsOpen = false; })">No</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ DeleteClass(); deleteDialogIsOpen = false; })">Yes</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    [Parameter]
    public string notificationType { get; set; }

    GroupClassesList classesList = new GroupClassesList();
    GroupClass itemToViewStudents = new GroupClass();

    string topic = null;
    int idToDelete = 0;

    bool viewStudentsDialogIsOpen = false;
    bool deleteDialogIsOpen = false;
    bool showBlankRow = false;

    protected async override Task OnInitializedAsync()
    {
        classesList = await classService.GetUnrealizedClasses();
        if (classesList.GroupClasses.Capacity == 0)
        {
            showBlankRow = true;
            classesList.GroupClasses.Add(new GroupClass());
        }
        toaster.Configuration.Position = MatToastPosition.BottomCenter;

        if (notificationType == "delete")
        {
            toaster.Add("Group class deleted successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }

        base.OnInitialized();
    }

    private void RealizeClicked(GroupClass item)
    {
        navigationManager.NavigateTo("/teacher/realizeGroupClass/" + item.Id.ToString());
    }

    private void EditClicked(GroupClass item)
    {
        navigationManager.NavigateTo("/teacher/editGroupClass/" + item.Id.ToString());
    }

    private void DeleteClicked(GroupClass item)
    {
        idToDelete = item.Id;
        deleteDialogIsOpen = true;
    }

    private async void DeleteClass()
    {
        var message = await classService.DeleteClass(idToDelete);
        idToDelete = 0;

        navigationManager.NavigateTo("/teacher/GroupClasses/delete", forceLoad: true);
    }

}
