﻿@page "/teacher/realizeGroupClass/{classId}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IGroupClassService classService
@inject NavigationManager navigationManager
@inject IMatToaster toaster


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Realize group class:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="attendence" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h5 class="m-0">Topic:</h5>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@attendence.Topic" Label="Topic" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <br />
                    <h5>
                        Attendences:
                    </h5>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @foreach (var student in classToRealize.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText>
                                    @student.Name
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    @student.Login
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    @foreach (var student in classToRealize.Students)
                    {
                        <MatListItem>
                            <MatListItemText>
                                <MatCheckbox @bind-Value="@student.IsPresent"></MatCheckbox>
                            </MatListItemText>
                        </MatListItem>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@RealizeClass" Style="width:100%; outline:none;" Raised="true">Realize class</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelRealizing" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [Parameter]
    public string classId { get; set; }

    GroupClass classToRealize = new GroupClass();
    Attendence attendence = new Attendence();
    int idToRealize;

    protected async override Task OnInitializedAsync()
    {
        idToRealize = int.Parse(classId);
        classToRealize = await classService.GetClass(idToRealize);
        attendence.GroupClassId = idToRealize;
        toaster.Configuration.Position = MatToastPosition.BottomCenter;
    }

    private async Task RealizeClass()
    {
        foreach (var student in classToRealize.Students)
        {
            if (student.IsPresent)
            {
                attendence.PresentStudentsIds.Add(student.Id);
            }
            else
            {
                attendence.AbsentStudentsIds.Add(student.Id);
            }
        }

        try
        {
            var message = await classService.RealizeClass(attendence);
            toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
            navigationManager.NavigateTo("/teacher/GroupClasses");
        }
        catch (Exception ex)
        {
            toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
    }

    private void CancelRealizing()
    {
        navigationManager.NavigateTo("/teacher/GroupClasses");
    }

}
