﻿@page "/"
@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore
@using System.Security.Claims
@inject IUserService userService
@inject NavigationManager navigationManager

<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        <p>WELCOME @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p> Hey you, you are signed out!!!</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
            navigationManager.NavigateTo("login");
    }


}


