﻿@layout SingleLayout
@page "/login"
@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore
@using GuitarTeacherClient.Helpers
@using System.Security.Claims
@inject IUserService userService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<div class="col-md-6 offset-md-3 mt-5 pb-5">
    <div class="card mt-2 mb-2">
        <h3 class="card-header">
            Sign in to GuitarTeacher Platform!
        </h3>
        <div class="card-body">
            <EditForm Model="@loginObj" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Login</label>
                    <InputText @bind-Value="loginObj.Login" class="form-control" />
                    <div class="mt-2">
                        <ValidationMessage For="@(() => loginObj.Login)" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText type="password" @bind-Value="loginObj.Password" class="form-control" />
                    <div class="mt-2">
                        <ValidationMessage For="@(() => loginObj.Password)" />
                    </div>
                </div>
                <div class="mt-2">
                    <button class="btn btn-primary pt-2 pb-2 pl-3 pr-3">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Login
                    </button>
                    @if (!loading)
                    {
                        if (loginMessage != "")
                        {
                            <span class="alert alert-primary ml-4">
                                @loginMessage
                            </span>
                        }
                    }
                </div>
            </EditForm>
        </div>
        <div class="card-footer">
            <h5 class="mt-2">Don't have an account yet?</h5>
            <button @onclick="SignUp" class="btn btn-primary mt-3 mb-2">
                Sign up!
            </button>
        </div>
    </div>
</div>

@code {
    private LoginObject loginObj = new LoginObject();
    private User userIdentity = new User();
    private bool loading = false;
    private string loginMessage = "";
    bool isAuthenticated;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        loginObj.Login = "nauczyciel";
        loginObj.Password = "nauczyciel";


        user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
            navigationManager.NavigateTo("login");
    }


    private async Task<bool> HandleValidSubmit()
    {
        loading = true;
        try
        {
            userIdentity = await userService.Login(loginObj);

            if (String.IsNullOrEmpty(userIdentity.Login))
            {
                throw new Exception();
            }

            ((CustomAuthenticationStateProvider)authenticationStateProvider).MarkUserAsAuthenticated(loginObj.Login);

            await sessionStorage.SetItemAsync("login", userIdentity.Login);
            await sessionStorage.SetItemAsync("token", userIdentity.Token);
            await sessionStorage.SetItemAsync("rolecode", userIdentity.RoleCode);

            navigationManager.NavigateTo("");

        }
        catch (Exception ex)
        {
            loading = false;
            StateHasChanged();
            loginMessage = userIdentity.ErrorMessage;
        }

        return await Task.FromResult(true);
    }

    private void SignUp()
    {
        navigationManager.NavigateTo("signup");
    }
}
