﻿@layout SingleLayout
@page "/signup"
@using GuitarTeacherClient.ServicesCore
@using GuitarTeacherClient.Data
@using GuitarTeacherClient.Helpers
@inject IUserRoleService userRoleService
@inject IUserService userService
@inject NavigationManager navigationManager

<div class="col-md-6 offset-md-3 mt-5 mb-5">
    <div class="card">
        <h4 class="card-header">Utwórz konto:</h4>
        <div class="card-body">
            <EditForm Model="userToRegister" class="form-row" OnValidSubmit="@SendNewUser">
                <DataAnnotationsValidator />
                <div class="form-group col-md-6">
                    <label>Firstname:</label>
                    <InputText @bind-Value="userToRegister.FirstName" class="form-control" placeholder="Firstname" />
                </div>
                <div class="form-group col-md-6">
                    <label>Lastname:</label>
                    <InputText @bind-Value="userToRegister.LastName" class="form-control" placeholder="Lastname" />
                </div>
                <div class="form-group col-md-6">
                    <ValidationMessage For="@(()=>userToRegister.FirstName)" />
                </div>
                <div class="form-group col-md-6">
                    <ValidationMessage For="@(()=>userToRegister.LastName)" />
                </div>
                <div class="form-group col-md-12">
                    <label>Login:</label>
                    <InputText @bind-Value="userToRegister.Login" class="form-control" placeholder="Login" />
                </div>
                <div class="form-group col-md-12">
                    <ValidationMessage For="@(()=>userToRegister.Login)" />
                </div>
                <div class="form-group col-md-6">
                    <label>Password:</label>
                    <InputText @bind-Value="userToRegister.Password" type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group col-md-6">
                    <label>Confirm password:</label>
                    <InputText @bind-Value="userToRegister.PasswordConfirmation" type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group col-md-6">
                    <ValidationMessage For="@(()=>userToRegister.Password)" />
                </div>
                <div class="form-group col-md-6">
                    <ValidationMessage For="@(()=>userToRegister.PasswordConfirmation)" />
                </div>
                <div class="form-group col-md-6">
                    <label>Date of birth:</label>
                    <InputDate class="form-control" @bind-Value="userToRegister.DateOfBirth" />
                </div>
                <div class="form-group col-md-6">
                    <label>User type:</label>
                    <InputSelect class="form-control" @bind-Value="userToRegister.RoleCode">
                        <option value="NON" selected disabled>Choose</option>
                        @foreach (var item in rolesList.UserRoles)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group col-md-6">

                </div>
                <div class="form-group col-md-6">
                    <ValidationMessage For="@(()=>userToRegister.RoleCode)" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary pt-2 pb-2 pl-3 pr-3">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Sign up
                    </button>
                    @if (!loading)
                    {
                        if (signupMessage != "")
                        {
                            <span class="alert alert-primary ml-4">
                                @signupMessage
                            </span>
                        }
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    User userToRegister = new User();
    UserRolesList rolesList = new UserRolesList();
    string passwordConfirmation;
    bool loading = false;
    string signupMessage = "";

    protected override async Task OnInitializedAsync()
    {
        rolesList = await userRoleService.GetAvailableRoles();
        userToRegister.DateOfBirth = new DateTime(1980, 1, 1);
    }

    async Task SendNewUser()
    {
        loading = true;
        try
        {
            signupMessage = await userService.AddUser(userToRegister);

            loading = false;

            var t = Task.Run(async delegate
            {
                await Task.Delay(3000);
                navigationManager.NavigateTo("login");
            });


        }
        catch(Exception ex)
        {
            loading = false;
            StateHasChanged();
            signupMessage = ex.Message;
        }
    }


}
