﻿@page "/settings"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IUserService userService
@inject IMatToaster toaster

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .p-space-between{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Settings panel:</h1>
    </div>
    <div class="my-4 container">
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <label class="m-0">Firstname:</label>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <label class="m-0">Lastname:</label>
            </div>
        </div>
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField @bind-Value="@user.FirstName" Label="Firstname" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField @bind-Value="@user.LastName" Label="Lastname" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
            </div>
        </div>
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <label class="m-0">Login:</label>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <label class="m-0">Date of birth:</label>
            </div>
        </div>
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField @bind-Value="@user.Login" Label="Login" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatDatePicker Label="Date of birth" Outlined="true" @bind-Value="@user.DateOfBirth" Style="width:100%"></MatDatePicker>
            </div>
        </div>
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatButton OnClick="@(()=>{ changePasswordDialogIsOpen=true; })" Style="width:100%; outline:none;" Raised="true">Change Password</MatButton>
            </div>
        </div>
        <div class="mat-layout-grid-inner mb-1 mt-3">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatButton OnClick="@SaveChanges" Style="width:100%; outline:none;" Raised="true">Save changes</MatButton>
            </div>
        </div>
        <br />
    </div>
</div>
<MatDialog @bind-IsOpen="@changePasswordDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        <p class="p-space-between">
            Old password:
            <MatTextField Type="password" @bind-Value="@loginObj.Password" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
        </p>
        <p class="p-space-between">
            New password:
            <MatTextField Type="password" @bind-Value="@loginObj.NewPassword" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
        </p>
        <p class="p-space-between">
            Confirm password:
            <MatTextField Type="password" @bind-Value="@passwordConfirmation" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
        </p>
        </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ ChangePassword(); })">Add</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ passwordConfirmation = null;
                                                        loginObj.NewPassword = null;
                                                        loginObj.Password = null;
                                                        changePasswordDialogIsOpen = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>



@code {

    User user = new User();

    LoginObject loginObj = new LoginObject();

    string passwordConfirmation = null;

    bool changePasswordDialogIsOpen = false;

    protected async override Task OnInitializedAsync()
    {
        user = await userService.GetUser();
    }

    async void SaveChanges()
    {
        try
        {
            var message = await userService.EditUser(user);
            toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        catch (Exception ex)
        {
            toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });

        }
    }

    async void ChangePassword()
    {
        if (passwordConfirmation == loginObj.NewPassword)
        {
            changePasswordDialogIsOpen = false;
            try
            {
                var message = await userService.EditPassword(loginObj);
                toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
                {
                    config.HideTransitionDuration = 200;
                    config.RequireInteraction = true;
                    config.ShowCloseButton = false;
                });
            }
            catch (Exception ex)
            {
                toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
                {
                    config.HideTransitionDuration = 200;
                    config.RequireInteraction = true;
                    config.ShowCloseButton = false;
                });
            }
        }
        else
        {
            toaster.Add("New passwords are not identical", MatToastType.Warning, icon: "warning", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
    }
}
