﻿@page "/student/individualClasses"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IIndividualClassService classService
@inject NavigationManager navigationManager


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Individual classes:</h1>
    </div>
    <div class="my-4">

        <MatTable SortBy="DateOfClasses" Items="individualClasses.IndividualClasses" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:300px">
                        Date of class
                    </div>
                </th>
                <th>
                    <div style="width:150px">
                        Duration
                    </div>
                </th>
                <th>
                    <div>
                        Teacher
                    </div>
                </th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                }
                else
                {
                    <td>@context.DateOfClasses.ToString("dd-MM-yyyy   HH:mm")</td>
                    <td>@context.DurationTime min</td>
                    <td>@context.TeacherName</td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

@code {

    IndividualClassesList individualClasses = new IndividualClassesList();
    bool showBlankRow = false;

    protected async override Task OnInitializedAsync()
    {
        individualClasses = await classService.GetUnrealizedClasses();

        if (individualClasses.IndividualClasses.Capacity == 0)
        {
            showBlankRow = true;
            individualClasses.IndividualClasses.Add(new IndividualClass());
        }

    }


}
