﻿@page "/student/tasks"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject ITaskService taskService


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Tasks</h1>
    </div>
    <div class="my-4">

        <MatTable Items="tasks.Tasks" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:125px">
                        Given date
                    </div>
                </th>
                <th>
                    <div style="width:200px">
                        Teacher
                    </div>
                </th>
                <th>
                     Content
                </th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                }
                else
                {
                    <td>@context.GivenDate.ToString("dd-MM-yyyy")</td>
                    <td>@context.TeacherName</td>
                    <td>@context.TaskContent</td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

@code {

    TasksList tasks = new TasksList();

    bool showBlankRow = false;

    TaskObj itemToEdit = new TaskObj();

    protected async override Task OnInitializedAsync()
    {
        tasks = await taskService.GetUnrealizedTasks();

        if (tasks.Tasks.Count == 0)
        {
            showBlankRow = true;
            tasks.Tasks.Add(new TaskObj());
        }

    }

}

