﻿@page "/teacher/individualClasses/add"

@using GuitarTeacherClient.ServicesCore
@using GuitarTeacherClient.Data
@inject IIndividualClassService classService
@inject NavigationManager navigationManager

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }
    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Add individual class:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="newClass" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Student login:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@newClass.StudentLogin" Label="Login" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (!string.IsNullOrEmpty(loginMessage))
                    {
                        <div class="m-0 alert alert-primary py-2" style="height:100%">
                            @loginMessage
                        </div>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Date of class:</label>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (IsCyclicClasses)
                    {
                        <label class="m-0">Since: </label>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatDatePicker Enable24hours="true" EnableTime="true" Label="Choose date:" Outlined="true" @bind-Value="@newClass.DateOfClasses" Style="width:100%"></MatDatePicker>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (IsCyclicClasses)
                    {
                        <MatDatePicker Label="Choose date" Outlined="true" TValue="DateTime" @bind-Value="@finalDate" Style="width:100%"></MatDatePicker>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-1">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <div style="display:flex">
                        <MatCheckbox @bind-Value="@IsCyclicClasses" Id="cyclic-checkbox"></MatCheckbox>
                        <label for="cyclic-checkbox" style="margin:auto; ">Plan cyclic classes</label>
                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Duration:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@newClass.DurationTimeString" Label="Duration" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <ValidationMessage For="@(()=>newClass.DurationTimeString)" />
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@AddClasses" Style="width:100%" Raised="true">Add class</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code {

    IndividualClass newClass = new IndividualClass();

    string loginMessage;

    bool IsCyclicClasses = false;

    DateTime finalDate;

    protected override void OnInitialized()
    {
        loginMessage = "";
        base.OnInitialized();
    }

    private async void AddClasses()
    {
        newClass.DateOfClasses = newClass.DateOfClasses.ToLocalTime();


        if (IsCyclicClasses)
        {
            loginMessage = await classService.AddClasses(newClass);

            if (string.IsNullOrEmpty(loginMessage))
            {
                var datesDifference = (finalDate - newClass.DateOfClasses).TotalDays.ToString();
                var dividedString = datesDifference.Split(new Char[] { ','});
                int parsedDifference = int.Parse(dividedString[0])+1;
                int howManyCycles = parsedDifference / 7;

                for (int i = 0; i < howManyCycles; i++)
                {
                    newClass.DateOfClasses=newClass.DateOfClasses.AddDays(7);
                    await classService.AddClasses(newClass);
                }

                navigationManager.NavigateTo("/teacher/individualClasses");
            }
        }
        else
        {
            loginMessage = await classService.AddClasses(newClass);
            if (string.IsNullOrEmpty(loginMessage))
            {
                navigationManager.NavigateTo("/teacher/individualClasses");
            }
        }
    }

}
