﻿@page "/teacher/individualClasses"
@page "/teacher/individualClasses/{notificationType}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IIndividualClassService classService
@inject NavigationManager navigationManager
@inject IMatToaster toaster


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Individual classes:</h1>
    </div>
    <div class="my-4">

        <MatTable SortBy="DateOfClasses" Items="individualClasses.IndividualClasses" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:200px">
                        Date of class
                    </div>
                </th>
                <th>
                    <div style="width:75px">
                        Duration
                    </div>
                </th>
                <th>
                    <div style="width:250px">
                        Student
                    </div>
                </th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="done" OnClick="()=>RealizeClicked(context)"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="edit" OnClick="()=>EditClicked(context)"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="delete" OnClick="()=>DeleteClicked(context)"></MatIconButton>
                    </td>
                }
                else
                {
                    <td>@context.DateOfClasses.ToString("dd-MM-yyyy   HH:mm")</td>
                    <td>@context.DurationTime min</td>
                    <td>@context.StudentName</td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Style="outline:none;" Icon="done" OnClick="()=>RealizeClicked(context)"></MatIconButton>
                        <MatIconButton Style="outline:none;" Icon="edit" OnClick="()=>EditClicked(context)"></MatIconButton>
                        <MatIconButton Style="outline:none;" Icon="delete" OnClick="()=>DeleteClicked(context)"></MatIconButton>
                    </td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="@deleteDialogIsOpen">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        Are you sure about deleting this classes?
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToDelete = 0; deleteDialogIsOpen = false; })">No</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ DeleteClass(); deleteDialogIsOpen = false; })">Yes</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@realizeDialogIsOpen">
    <MatDialogTitle>Realize class</MatDialogTitle>
    <MatDialogContent>
        Enter topic:
        <MatTextField @bind-Value="@topic" Label="Topic" Icon="edit"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToRealize = 0; realizeDialogIsOpen = false; })">Cancel</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ realizeDialogIsOpen = false; RealizeClass(); })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@editDialogIsOpen">
    <MatDialogTitle>Edit class</MatDialogTitle>
    <MatDialogContent>
        <br />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    Date of class:
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatDatePicker Position="MatDatePickerPosition.Below" Label="Enter date:" EnableTime="true" Enable24hours="true" Outlined="true" Style="width:100%;" TValue="DateTime" @bind-Value="@itemToEdit.DateOfClasses"></MatDatePicker>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <label style="vertical-align:middle">Duration of class: </label>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatTextField @bind-Value="@itemToEdit.DurationTimeString" Label="Enter duration time:" Outlined="true" Class="m-0" Style="width:100%;"></MatTextField>
                </div>
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; })">Cancel</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; EditClass(); })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    [Parameter]
    public string notificationType { get; set; }

    IndividualClassesList individualClasses = new IndividualClassesList();

    bool deleteDialogIsOpen = false;
    bool realizeDialogIsOpen = false;
    bool editDialogIsOpen = false;
    bool showBlankRow = false;

    int idToDelete = 0;
    int idToRealize = 0;

    string topic;
    IndividualClass itemToEdit = new IndividualClass();
    DateTime localDateTime = new DateTime();

    protected async override Task OnInitializedAsync()
    {
        individualClasses = await classService.GetUnrealizedClasses();

        if (individualClasses.IndividualClasses.Capacity == 0)
        {
            showBlankRow = true;
            individualClasses.IndividualClasses.Add(new IndividualClass());
        }

        if (notificationType == "delete")
        {
            toaster.Add("Individual class deleted successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        else if (notificationType == "edit")
        {
            toaster.Add("Individual class edited successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        else if (notificationType == "realize")
        {
            toaster.Add("Individual class realized successfully", MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
    }

    private void EditClicked(IndividualClass item)
    {
        itemToEdit.Id = item.Id;
        itemToEdit.DurationTimeString = item.DurationTime.ToString();
        itemToEdit.DateOfClasses = item.DateOfClasses.ToUniversalTime();
        editDialogIsOpen = true;
    }

    private void EditClass()
    {
        itemToEdit.DateOfClasses = itemToEdit.DateOfClasses.ToLocalTime();
        classService.EditClasses(itemToEdit);
        navigationManager.NavigateTo("/teacher/individualClasses/edit", forceLoad: true);
    }

    private void DeleteClicked(IndividualClass item)
    {
        idToDelete = item.Id;
        deleteDialogIsOpen = true;
    }

    private void DeleteClass()
    {
        classService.DeleteClasses(idToDelete);
        idToDelete = 0;
        navigationManager.NavigateTo("/teacher/individualClasses/delete", forceLoad: true);
    }

    private void RealizeClicked(IndividualClass item)
    {
        idToRealize = item.Id;
        realizeDialogIsOpen = true;
    }

    private void RealizeClass()
    {
        classService.RealizeClasses(new IndividualClass
        {
            Id = idToRealize,
            Topic = topic
        });
        topic = null;
        idToRealize = 0;
        navigationManager.NavigateTo("/teacher/individualClasses/realize", forceLoad: true);
    }

}
