﻿@page "/teacher/individualClasses/history"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IIndividualClassService classService


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>History of individual classes:</h1>
    </div>
    <div class="my-4">

        <MatTable SortBy="DateOfClasses" Items="individualClasses.IndividualClasses" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:200px">
                        Date of class
                    </div>
                </th>
                <th>
                    <div style="width:75px">
                        Duration
                    </div>
                </th>
                <th>
                    <div style="width:200px">
                        Student
                    </div>
                </th>
                <th>Topic</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.DateOfClasses.ToString("dd-MM-yyyy   HH:mm")</td>
                <td>@context.DurationTime min</td>
                <td>@context.StudentName</td>
                <td>@context.Topic</td>
            </MatTableRow>
        </MatTable>

    </div>
</div>


@code {

    IndividualClassesList individualClasses = new IndividualClassesList();

    protected async override Task OnInitializedAsync()
    {
        individualClasses = await classService.GetRealizedClass();
    }

}
