﻿@page "/student/groupClasses"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IGroupClassService classService

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .no-margin-or-padding {
        padding: 0px;
        margin: 0px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Group classes:</h1>
    </div>
    <div class="my-4">

        <MatTable SortBy="DateOfClasses" Items="classesList.GroupClasses" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:200px">
                        Date of class
                    </div>
                </th>
                <th>
                    <div style="width:75px">
                        Duration
                    </div>
                </th>
                <th>
                    <div style="width:225px">
                        Group
                    </div>
                </th>
                <th style="width: auto;">Teacher</th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                }
                else
                {
                    <td>@context.DateOfClass.ToString("dd-MM-yyyy   HH:mm")</td>
                    <td>@context.Duration min</td>
                    <td style="display: flex; align-items: center; justify-content:center">
                        Number of students: @context.Students.Count
                        <MatIconButton Style="outline:none; color:#1E6B94;" Icon="format_list_bulleted" OnClick="()=> { itemToViewStudents = context; viewStudentsDialogIsOpen = true; }"></MatIconButton>
                    </td>
                    <td>@context.TeacherName</td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="viewStudentsDialogIsOpen">
    <MatDialogTitle>
        Group
    </MatDialogTitle>
    <MatDialogContent>
        <MatList>
            @foreach (var student in itemToViewStudents.Students)
            {
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>
                            @student.Name
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText>
                            @student.Login
                        </MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
            }
            <br />
        </MatList>
    </MatDialogContent>
</MatDialog>


@code {

    GroupClassesList classesList = new GroupClassesList();
    GroupClass itemToViewStudents = new GroupClass();

    bool viewStudentsDialogIsOpen = false;
    bool showBlankRow = false;

    protected async override Task OnInitializedAsync()
    {
        classesList = await classService.GetUnrealizedClasses();
        if (classesList.GroupClasses.Capacity == 0)
        {
            showBlankRow = true;
            classesList.GroupClasses.Add(new GroupClass());
        }

        base.OnInitialized();
    }

}
