﻿@page "/teacher/chords/add"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IChordService chordService


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .chord-pic-container {
        width: 300px;
        height: 360px;
        background-image: url(Images/chord.png);
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .empty-filler-20x40 {
        width: 20px;
        height: 40px;
    }

    .empty-filler-40x40 {
        width: 40px;
        height: 40px;
    }

    .empty-filler-40x60 {
        width: 40px;
        height: 60px;
    }

    .empty-filler-300x20 {
        width: 300px;
        height: 20px;
    }

    button:hover,
    button:focus,
    button:disabled {
        outline: none;
        border: 0px;
    }

    .fret-number-button {
        width: 40px;
        height: 60px;
        outline: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .blank {
        background-image: url(images/blank.png);
    }

    .fret-2 {
        background-image: url(images/2.png);
    }

    .fret-3 {
        background-image: url(images/3.png);
    }

    .fret-4 {
        background-image: url(images/4.png);
    }

    .fret-5 {
        background-image: url(images/5.png);
    }

    .fret-6 {
        background-image: url(images/6.png);
    }

    .fret-7 {
        background-image: url(images/7.png);
    }

    .fret-8 {
        background-image: url(images/8.png);
    }

    .fret-9 {
        background-image: url(images/9.png);
    }

    .fret-10 {
        background-image: url(images/10.png);
    }

    .fret-11 {
        background-image: url(images/11.png);
    }

    .fret-12 {
        background-image: url(images/12.png);
    }

    .fret-13 {
        background-image: url(images/13.png);
    }

    .fret-14 {
        background-image: url(images/14.png);
    }

    .fret-15 {
        background-image: url(images/15.png);
    }

    .fret-16 {
        background-image: url(images/16.png);
    }


    .string-button {
        width: 40px;
        height: 40px;
        outline: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .cross {
        background-image: url(images/cross.png);
    }

    .circle {
        background-image: url(images/circle.png);
    }

    .finger-button {
        width: 40px;
        height: 60px;
        outline: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .finger {
        background-image: url(images/finger.png);
    }

    .barre-left-end {
        background-image: url(images/barreleftend.png);
    }

    .barre-right-end {
        background-image: url(images/barrerightend.png);
    }

    .barre-middle {
        background-image: url(images/barremiddle.png);
    }

    .barre-button {
        width: 20px;
        height: 60px;
        outline: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-image: url(images/barrebutton.png);
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Add chord:</h1>
    </div>
    <div class="my-4 container">
        <br />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Chord name:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@chord.Name" Label="Chord name" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatCheckbox @bind-Value="@chord.IsPublic" Label="Make chord public"></MatCheckbox>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="display: flex; justify-content:center">
                    <div class="chord-pic-container">
                        <div class="empty-filler-40x40"></div>

                        @for (int i = 0; i < numberOfStrings; i++)
                        {
                            var id = "stringButton" + i.ToString();
                            <button id="@id" class="string-button" @onclick="()=> { ChangeImageForStringButton(id); }"></button>
                        }
                        <div class="empty-filler-20x40"></div>

                        <div class="empty-filler-300x20"></div>

                        @for (int i = 0; i < numberOfFrets; i++)
                        {
                            if (i == 0)
                            {
                                <button id="fretNumberButton" class="fret-number-button blank" @onclick="()=> { fretNumberDialogIsOpen = true; }"></button>
                            }
                            else
                            {
                                <div class="empty-filler-40x60"></div>
                            }

                            var fretId = "fingerButtonfret" + i.ToString();

                            @for (int j = 0; j < numberOfStrings; j++)
                            {
                                var id = fretId + "string" + j.ToString();
                                <button id="@id" class="finger-button" @onclick="()=> { ChangeImageForFingerButton(id); }"></button>
                            }

                            <button class="barre-button" @onclick="()=> { ChangeIntoBarre(fretId); }"></button>
                        }

                    </div>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="async ()=> { await CreateChordScheme(); AddChord(); }" Style="width:100%; outline:none;" Raised="true">Add chord</MatButton>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<MatDialog @bind-IsOpen="@fretNumberDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        Choose fret number:
        <MatNumericUpDownField Label="Fret number"
                               @bind-Value=@fretNumber
                               DecimalPlaces=0
                               Outlined="true"
                               Minimum=1 Maximum=16>
        </MatNumericUpDownField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(async e=>{ 
                                                        fretNumberDialogIsOpen = false;
                                                        await jsRuntime.InvokeVoidAsync(identifier: "ChangerFretNumber", fretNumber, "fretNumberButton"); })">OK</MatButton>
    </MatDialogActions>
</MatDialog>



@code {

    const int numberOfFrets = 5;
    const int numberOfStrings = 6;

    int fretNumber = 1;

    bool fretNumberDialogIsOpen = false;

    ChordScheme chordScheme = new ChordScheme();

    Chord chord = new Chord();

    async Task ChangeImageForStringButton(string buttonId)
    {
        await jsRuntime.InvokeVoidAsync(identifier: "ChangeImageForStringButton", buttonId);
    }

    async Task ChangeImageForFingerButton(string buttonId)
    {
        await jsRuntime.InvokeVoidAsync(identifier: "ChangeImageForFingerButton", buttonId);
    }

    async Task ChangeIntoBarre(string fretId)
    {
        await jsRuntime.InvokeVoidAsync(identifier: "ChangeIntoBarre", fretId);
    }

    async Task CreateChordScheme()
    {
        chordScheme.FretNumber=await jsRuntime.InvokeAsync<int>(identifier: "GetFretNumber", "fretNumberButton");

        for (int i = 0; i < numberOfStrings; i++)
        {
            var stringButtonId = "stringButton" + i.ToString();
            chordScheme.StringsSymbols[i] = await jsRuntime.InvokeAsync<char>(identifier: "GetStringButtonSymbol", stringButtonId);
        }

        for (int i = 0; i < numberOfFrets; i++)
        {
            var fretId = "fingerButtonfret" + i.ToString();

            for (int j = 0; j < numberOfStrings; j++)
            {
                var stringId = fretId + "string" + j.ToString();
                var resposne = await jsRuntime.InvokeAsync<char>(identifier: "GetFingerSymbol", stringId);
                chordScheme.FingersSymbols[i][j] = resposne;
            }
        }
    }

    async Task AddChord()
    {
        chord.Scheme = chordScheme;

        try
        {
            var message = await chordService.AddChord(chord);
            navigationManager.NavigateTo("/teacher/chords");
        }
        catch(Exception ex)
        {

        }

    }
}
