﻿@page "/teacher/chords/share/{chordId}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IChordService chordService
@inject IStudentService studentService
@inject NavigationManager navigationManager
@inject IMatToaster toaster

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Share chord:</h1>
    </div>
    <div class="my-4 container">
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <h5 class="m-0">Chord name:</h5>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <h5 class="m-0">Upload date:</h5>
                    </div>
                </div>
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatTextField ReadOnly="true" @bind-Value="@chordToShare.Name" Label="Chord name" Outlined="true" Style="width:100%"></MatTextField>

                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatDatePicker ReadOnly="true" Label="Upload date" Outlined="true" @bind-Value="@chordToShare.UploadDate" Style="width:100%"></MatDatePicker>
                    </div>
                </div>
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <h5>
                            Students' list:
                        </h5>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatButton OnClick="@(e =>{ addStudentDialogIsOpen = true; })" Style="width:100%; outline: none;" Raised="true">Add student</MatButton>
                    </div>
                </div>
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        @foreach (var student in chordToShare.SharingStudents)
                        {
                            <MatListItem>
                                <MatListItemText>
                                    <MatListItemPrimaryText>
                                        @student.Name
                                    </MatListItemPrimaryText>
                                    <MatListItemSecondaryText>
                                        @student.Login
                                    </MatListItemSecondaryText>
                                </MatListItemText>
                            </MatListItem>
                        }
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        @foreach (var student in chordToShare.SharingStudents)
                        {
                            <MatListItem>
                                <MatListItemText>
                                    <MatIconButton Icon="delete" Style="outline:none; color:#1E6B94;" OnClick="()=>DeleteClicked(student)"></MatIconButton>
                                </MatListItemText>
                            </MatListItem>
                        }
                    </div>
                </div>
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatButton OnClick="@ShareChord" Style="width:100%; outline:none;" Raised="true">Share chord</MatButton>
                    </div>
                </div>
                <div class="mat-layout-grid-inner mb-1 mt-3">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatButton OnClick="@CancelEditing" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                    </div>
                </div>
    </div>
</div>

<MatDialog @bind-IsOpen="@addStudentDialogIsOpen">
    <MatDialogTitle>Add student</MatDialogTitle>
    <MatDialogContent>
        <br />
        Student's login:
        <MatTextField @bind-Value="@studentToAdd" Label="Student's login" Outlined="true" Class="m-0"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ AddStudent(); addStudentDialogIsOpen = false; })">Add</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ studentToAdd = null; addStudentDialogIsOpen = false; })">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    [Parameter]
    public string chordId { get; set; }

    Chord chordToShare = new Chord();
    int idToShare;

    bool addStudentDialogIsOpen = false;
    string studentToAdd = null;

    protected async override Task OnInitializedAsync()
    {
        idToShare = int.Parse(chordId);
        chordToShare = await chordService.GetChord(idToShare);
    }

    private async void ShareChord()
    {
        try
        {
            var shareObject = new ShareObject
            {
                ObjectId=chordToShare.Id
            };

            foreach(var student in chordToShare.SharingStudents)
            {
                shareObject.StudentsIds.Add(student.Id);
            }

            var message = await chordService.ShareChord(shareObject);

            toaster.Add(message, MatToastType.Info, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });

            navigationManager.NavigateTo("/teacher/chords");


        }
        catch (Exception ex)
        {
            toaster.Add(ex.Message, MatToastType.Warning, icon: "warning", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }

    }

    private async void AddStudent()
    {
        if (studentToAdd != null)
        {
            try
            {
                var newStudent = await studentService.GetStudentByLogin(studentToAdd);
                bool isAlreadyPresent = false;

                foreach (var student in chordToShare.SharingStudents)
                {
                    if (student.Login == newStudent.Login)
                    {
                        isAlreadyPresent = true;
                        break;
                    }
                }
                if (isAlreadyPresent == false)
                {
                    chordToShare.SharingStudents.Add(newStudent);
                }
                studentToAdd = null;
            }
            catch (Exception ex)
            {
                //make toast
            }
        }
    }

    private void DeleteClicked(Student item)
    {
        chordToShare.SharingStudents.Remove(item);
    }

    private void CancelEditing()
    {
        navigationManager.NavigateTo("/teacher/chords");
    }

}
