﻿@page "/teacher/evaluations/add"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IEvaluationService evaluationService
@inject NavigationManager navigationManager

<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }
</style>

<div class="col-md-8 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Add task:</h1>
    </div>
    <div class="my-4 container">
        <EditForm Model="newEvaluation" style="box-sizing:border-box" class="mat-layout-grid">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Student login:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <MatTextField @bind-Value="@newEvaluation.StudentLogin" Label="Student login" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <label class="m-0">Task content:</label>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatTextField @bind-Value="@newEvaluation.EvaluationContent" Label="Task content" Outlined="true" Class="m-0" Style="width: 100%"></MatTextField>
                </div>
            </div>
            <br />
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@AddNewEvaluation" Style="width:100%; outline:none;" Raised="true">Add evaluation</MatButton>
                </div>
            </div>
            <div class="mat-layout-grid-inner mb-1 mt-3">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton OnClick="@CancelAdding" Style="width:100%; outline:none;" Raised="true">Cancel</MatButton>
                </div>
            </div>
        </EditForm>
    </div>
    <br />
</div>


@code {

    Evaluation newEvaluation = new Evaluation();

    void AddNewEvaluation()
    {
        try
        {
            newEvaluation.GivenDate = DateTime.Now;

            evaluationService.AddEvaluation(newEvaluation);

            navigationManager.NavigateTo("/teacher/evaluations", forceLoad:true);
        }
        catch (Exception ex)
        {
            //make toast
        }
    }

    void CancelAdding()
    {
        navigationManager.NavigateTo("/teacher/evaluations");
    }

}
