﻿@page "/teacher/evaluations"
@page "/teacher/evaluations/{notificationType}"

@using GuitarTeacherClient.Data
@using GuitarTeacherClient.ServicesCore

@inject IEvaluationService evaluationService
@inject NavigationManager navigationManager
@inject IMatToaster toaster


<style>
    .container-header {
        border-left: 6px solid #1E6B94;
        padding-left: 10px;
    }

    .container {
        border: 1px solid #B1D9EE;
        border-radius: 10px;
    }

    .table {
        border-radius: 10px;
    }

        .table th {
            background-color: #377EA4;
            color: #FFF;
            font-weight: bolder;
            text-align: center;
            padding: 12px;
        }

        .table td {
            text-align: center;
            padding: 12px;
            vertical-align: middle;
        }
</style>

<div class="col-md-10 my-4 mx-5">
    <div class="py-2 container-header">
        <h1>Tasks</h1>
    </div>
    <div class="my-4">

        <MatTable Items="evaluations.Evaluations" class="mat-elevation-z5 table" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th>
                    <div style="width:115px">
                        Given date
                    </div>
                </th>
                <th>
                    <div style="width:160px">
                        Student
                    </div>
                </th>
                <th>
                    <div style="width:320px">
                        Content
                    </div>
                </th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow>
                @if (showBlankRow)
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="done"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="edit"></MatIconButton>
                        <MatIconButton Disabled="true" Style="outline:none;" Icon="delete"></MatIconButton>
                    </td>
                }
                else
                {
                    <td>@context.GivenDate.ToString("dd-MM-yyyy")</td>
                    <td>@context.StudentName</td>
                    <td>@context.EvaluationContent </td>
                    <td style="color: #1E6B94; padding: 6px;">
                        <MatIconButton Style="outline:none;" OnClick="()=> { EditClicked(context); }" Icon="edit"></MatIconButton>
                        <MatIconButton Style="outline:none;" OnClick="()=> { DeleteClicked(context); }" Icon="delete"></MatIconButton>
                    </td>
                }
            </MatTableRow>
        </MatTable>
    </div>
</div>

<MatDialog @bind-IsOpen="@deleteDialogIsOpen">
    <MatDialogTitle>Confirmation</MatDialogTitle>
    <MatDialogContent>
        Are you sure about deleting this classes?
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ idToDelete = 0; deleteDialogIsOpen = false; })">No</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ DeleteEvaluation(); deleteDialogIsOpen = false; })">Yes</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@editDialogIsOpen">
    <MatDialogTitle>Edit class</MatDialogTitle>
    <MatDialogContent>
        <br />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <label style="vertical-align:middle">Evaluation content: </label>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatTextField @bind-Value="@evaluationToEdit.EvaluationContent" Label="Evaluation content" Outlined="true" Class="m-0" Style="width:100%;"></MatTextField>
                </div>
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; })">Cancel</MatButton>
        <MatButton Style="outline:none;" OnClick="@(e=>{ editDialogIsOpen = false; EditEvaluation(); })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    [Parameter]
    public string notificationType { get; set; }

    EvaluationsList evaluations = new EvaluationsList();

    bool showBlankRow = false;
    bool deleteDialogIsOpen = false;
    bool editDialogIsOpen = false;

    int idToDelete = 0;
    Evaluation evaluationToEdit = new Evaluation();

    protected async override Task OnInitializedAsync()
    {
        toaster.Configuration.Position = MatToastPosition.TopCenter;

        evaluations = await evaluationService.GetEvaluations();

        if (evaluations.Evaluations.Count == 0)
        {
            showBlankRow = true;
            evaluations.Evaluations.Add(new Evaluation());
        }

        if (notificationType == "delete")
        {
            toaster.Add("Task deleted successfully", MatToastType.Secondary, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
        else if (notificationType == "edit")
        {
            toaster.Add("Task edited successfully", MatToastType.Secondary, icon: "offline_pin", configure: config =>
            {
                config.HideTransitionDuration = 200;
                config.RequireInteraction = true;
                config.ShowCloseButton = false;
            });
        }
    }

    void EditClicked(Evaluation item)
    {
        evaluationToEdit = item;
        editDialogIsOpen = true;
    }

    void DeleteClicked(Evaluation item)
    {
        idToDelete = item.Id;
        deleteDialogIsOpen = true;
    }

    void EditEvaluation()
    {
        evaluationService.EditEvaluation(evaluationToEdit);
        navigationManager.NavigateTo("/teacher/evaluations/edit", forceLoad: true);

    }

    void DeleteEvaluation()
    {
        evaluationService.DeleteEvaluation(idToDelete);
        idToDelete = 0;
        navigationManager.NavigateTo("/teacher/evaluations/delete", forceLoad: true);
    }
}
